html{
    background-color:#FFFDF3;
    font-family:"Helvetica Neue", Helvetica, Arial;
}

body{
    background-color:#ffffff;
    margin-right: auto;
    margin-left : auto;
    padding:30px;
    border:4px solid #E8DB6D;
    width:1100px;
}

h1,h2,h3{
    margin: 2px;
}

textarea,pre{
    font-family:"Courier New", Consolas, monospace;
}

.lessmargin {
    margin: 2px;
}

.variableArea {
    width:220px;
}

textarea {
    width:1100px;
}

pre{
    background-color:#eeeeee;
    padding:10px;
    border:2px solid #cccccc;
}

input[type="text"] {
    padding:2px;
    width:110px;
}

input[type="button"].default {
    padding:10px;
    background-color: #F8FBAD;
    border: 1px solid #E8DB6D;
    transition: background-color 1s linear;
}

input[type="button"].default:hover {
    background-color: #D8F050;
    transition: background-color 0.1s linear;
}

input[type="button"].default:active {
    background-color: #44FF44;
}

.closeButton {
    padding:0px;
    margin:0px;
}

.box{
    float: left;
    margin:2px;
}

.boxContainer{
    overflow: hidden;
}

ul{
    padding:0px;
    margin:0px;
}
li{
    display: inline-block;
    padding:2px;
}

input.seq{
    width:50px;
    text-align:center;
}
input[type="number"]{
    width:35px;
    text-align:center;
}

div.wHover{
    padding:6px;
}

div.wHover:hover{
    border:2px solid #cccccc;
    padding:4px;
}

input:focus, textarea:focus{
    outline: none !important;
    border: 1px solid #E8DB6D;
    box-shadow: 0 0 5px #E8DB6D;
}

summary:focus {
    outline: none;
}

div.container {
  display: flex;
}
